<div class = "center-now" >
	<h4>New Pokemon</h4>

	<%= form_for(@pokedex) do |f| %>
	<div id="div_id_username" class="form-group required">
		<label  class="control-label col-lg-3  requiredField"><%= f.label "Name:" %></label>
		<div class="controls col-md-7 ">
		<%= f.text_field :name, placeholder: 'Name', class:  'form-group', :required => true %>
		</div>
	</div>

		<!-- <%= (content_tag(:div, @pokedex.errors.full_messages_for(:name).to_sentence , class: 'alert alert-danger', role: 'alert')) if @pokedex.errors.include?(:name) %> -->
		<div id="div_id_username" class="form-group required">
			<label  class="control-label col-lg-3  requiredField"><%= f.label "Health Points:" %></label>
			<div class="controls col-md-7 ">
				<%= f.number_field :base_health_point, placeholder: 'Health Points', class: ' form-group' , :required => true%>
			</div>
		</div>
		<!-- <%= (content_tag(:div, @pokedex.errors.full_messages_for(:base_health_point).to_sentence , class: 'alert alert-danger', role: 'alert')) if @pokedex.errors.include?(:base_health_point) %> -->
		<div id="div_id_username" class="form-group required">
			<label  class="control-label col-lg-3  requiredField"><%= f.label "Base Attack:" %></label>
			<div class="controls col-md-7 ">
		<%= f.number_field :base_attack, placeholder: 'Base Attack', class: ' form-group', :required => true %>
	</div>
</div>
		<!-- <%= (content_tag(:div, @pokedex.errors.full_messages_for(:base_attack).to_sentence , class: 'alert alert-danger', role: 'alert')) if @pokedex.errors.include?(:base_attack) %> -->
		<div id="div_id_username" class="form-group required">
			<label  class="control-label col-lg-3  requiredField"><%= f.label "Base Defence" %></label>
			<div class="controls col-md-7 ">
				<%= f.number_field :base_defence, placeholder: 'Base Defence', class: ' form-group', :required => true %>
		</div>
	</div>
		<!-- <%= (content_tag(:div, @pokedex.errors.full_messages_for(:base_defence).to_sentence , class: 'alert alert-danger', role: 'alert')) if @pokedex.errors.include?(:base_defence) %> -->
		<div id="div_id_username" class="form-group required">
			<label  class="control-label col-lg-3  requiredField"><%= f.label "Base Speed:" %></label>
			<div class="controls col-md-7 ">
				<%= f.number_field :base_speed, placeholder: 'Base Speed', class: ' form-group', :required => true %>
			</div>
		</div>
		<!-- <%= (content_tag(:div, @pokedex.errors.full_messages_for(:base_speed).to_sentence , class: 'alert alert-danger', role: 'alert')) if @pokedex.errors.include?(:base_speed) %> -->
		<div id="div_id_username" class="form-group required">
			<label  class="control-label col-lg-3  requiredField"><%= f.label "Element Type:" %></label>
			<div class="controls col-md-7 ">
				<%= f.select :element_type, Skill::ELEMENT, {}, {class: ' form-group'}%>
			</div>
		</div>
		<!-- <%= (content_tag(:div, @pokedex.errors.full_messages_for(:element_type).to_sentence , class: 'alert alert-danger', role: 'alert')) if @pokedex.errors.include?(:element_type) %> -->
		<div id="div_id_username" class="form-group required">
			<label  class="control-label col-lg-3  requiredField"><%= f.label "Image URL:" %></label>
			<div class="controls col-md-7 ">
				<%= f.text_field :image_url, placeholder: 'Image URL', class: ' form-group' , :required => true%>
		</div>
	</div>
		<!-- <%= (content_tag(:div, @pokedex.errors.full_messages_for(:image_url).to_sentence , class: 'alert alert-danger', role: 'alert')) if @pokedex.errors.include?(:image_url) %> -->

		<%= f.submit "Add Pokedex", class: "btn btn-primary form-group" %>
	<% end %>
</div>
