<div class="container">

	<div class="col-sm-12">
		<div class="button">
		<!-- <%= link_to 'Create New Skill', new_skill_path, class: 'btn btn-primary' %> -->
	 </div>
	 <button type="button" class="btn btn-primary butt-pad" data-toggle="modal" data-target="#ordine">New Skill</button>
	 <!-- Modal -->
	 <div id="ordine" class="modal fade " role="dialog">
		 <div class="modal-dialog">
			 <!-- Modal content-->
			 <div class="modal-content modal-new ">
				 <div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal">×</button>
					 <h4 class="modal-title">New Skill</h4>
				 </div>
				 <div class="modal-body ">
				 <%= render partial: "skills/form" %>
				 </div>
			 </div>
		 </div>
	 </div>
		<table class="table table-inverse back">
			<thead>
				<tr class="bg-primary">
					<th>#</th>
					<th>Name</th>
					<th>Power</th>
					<th>Max PP</th>
					<th>Element Type</th>
				</tr>
			</thead>
			<tbody>
				<% @skills.each do |skill| %>
					<tr>
						<th><%= skill.id %></th>
						<td><%= link_to skill.name, skill %></td>
						<td><%= skill.power %></td>
						<td><%= skill.max_pp %></td>
						<td><%= skill.element_type %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="pagination">
			<%= will_paginate renderer: BootstrapPagination::Rails %>
	</div>
 </div>
</div>
