<div class="col-sm-6">
  <h3><%= @skill.name %></h3>
  <table class="table table-inverse back">
  	<tr>
  		<td class="bg-primary" width="50%">#</td>
  		<td><%= @skill.id %></td>
  	</tr>
  	<tr>
  		<td class="bg-primary">Name</td>
  		<td><%= @skill.name %></td>
  	</tr>
  	<tr>
  		<td class="bg-primary">Power</td>
  		<td><%= @skill.power %></td>
  	</tr>
  	<tr>
  		<td class="bg-primary">Max PP</td>
  		<td><%= @skill.max_pp %></td>
  	</tr>
  	<tr>
  		<td class="bg-primary">Element Type</td>
  		<td><%= @skill.element_type %></td>
  	</tr>
  </table>
  <ul class="list-inline">
  	<li><%= link_to 'Edit', edit_skill_path(@skill), class: 'btn btn-primary' %></li>
  	<li><%= button_to 'Delete', @skill, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %></li>
    <li><a class="btn btn-block btn-warning" href="/skills">Back To Skill Page</a></li>
  </ul>
</div>
