<div class="container">
  <div class="logo">
    <h2> <a class="navbar-brand"><img src="/logo2.png" alt="logo" width="520"></a></h2>
  </div>
  <div class="search">
    <h3>Search Pokemon By Element Type</h3>
      <%= form_tag("/", method: "get") do %>
      <%= label_tag(:element_type, "Element Type:") %>
      <!-- <%= text_field_tag(:name) %> -->
      <%= text_field_tag(:element_type) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
    <% if @pokedexes.any? %>
    <div class="information ">
      <table class="table table-inverse back">
        <thead>
          <tr class="bg-primary">
            <th>#</th>
            <th>Name</th>
            <th>Health</th>
            <th>Attack</th>
            <th>Defence</th>
            <th>Speed</th>
            <th>Element Type</th>
          </tr>
        </thead>
        <tbody>
          <% @pokedexes.each do |pokedex| %>
            <tr>
              <th><%= pokedex.id %></th>
              <td><%= link_to pokedex.name, pokedex %></td>
              <td><%= pokedex.base_health_point %></td>
              <td><%= pokedex.base_attack %></td>
              <td><%= pokedex.base_defence %></td>
              <td><%= pokedex.base_speed %></td>
              <td><%= pokedex.element_type %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%else%>
    <h4 id = "valid">Enter A Valid Element Type</h4>
  <% end %>
</div>
