<!DOCTYPE html>
<html>
  <head>
    <title>Battle-Me</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div>
      <div class="container">
        <div class="container">
          <nav>
            <div class="navigation">
              <ul>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'Pokedex', pokedexes_path %></li>
                <li><%= link_to 'Skill Set', skills_path %></li>
                <li><%= link_to 'Pokemon Team', pokemons_path %></li>
                <li><%= link_to 'Battle Now', pokemon_battles_path %></li>
                <li><%= link_to 'About/Instructions', about_path %></li>
              </ul>
            </div>
            <div class="nav_bg">
              <div class="nav_bar">
                <span class="expand ">
                  <span class="plus"><a href="#"><img src="https://lh6.ggpht.com/YphYdqVDuLK4ZY-tCpdCdl3ZbES-hXfozgfamNQcYXmLZKLTA86Xe_2bhOCjc097fCA=w300"/ width="30" alt="pokeball"></a></span>
                  <span class="minus"><a href="#"><img src="http://www.opajaap.nl/wordpress/wp-content/uploads/wppa/thumbs/3483.png?ver=9"  width="50"/ alt="open-pokeball"></a></span>
                </span>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  <div class= "container">
    <%= yield %>
  </div>
</body>
</html>
